#waveDisplay {
    width: 600px;
    height: 300px; /* Increased height for better visibility */
    border: 1px solid black;
    margin-bottom: 20px;
}

.axis-label {
    font-weight: bold;
}

#peakValueSlider {
    width: 100%;
}

#rmsDisplay {
    font-weight: bold;
}

input[type=range] {
    width: 100%;
    margin-bottom: 10px;
}